body {
    font-family: Roboto, sans-serif;
    margin: 0px;
    min-height: 100vh;
}

/* Segment-1 styling */

.segment-1 {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding-left: 176px;
    padding-right: 176px;
    padding-bottom: 128px;
    padding-top: 16px;
    gap: 64px;
}

.segment-1 .header {
    display: flex;
    justify-content: space-between;
}

.segment-1 .header .logo {
    font-size: 24px;
    font-weight: bolder;
}

.segment-1 .header .links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 16px;
}

.segment-1 .content {
    display: flex;
    gap: 16px;
}

.segment-1 .content .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}

.segment-1 .content .left .title {
    font-size: 48px;
    font-weight: bolder;
}

.segment-1 .content .left .subtext {
    font-size: 18px;
    color: #f9faf8;
}

.segment-1 .content .left button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 128px;
    height: 32px;
    border-radius: 8px;
    border: none;
}

.segment-1 .content .img-placeholder {
    flex: 1;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Segment-2 styling */
.segment-2 {
    display: flex;
    flex-direction: column;
    padding-left: 256px;
    padding-right: 256px;
    gap: 16px;
    padding-bottom: 128px;
    padding-top: 56px;
}

.segment-2 .information {
    font-size: 32px;
    font-weight: bolder;
    color: #1f2937;
    align-self: center;
    padding-bottom: 56px;
}

.segment-2 .illustrations {
    display: flex;
    justify-content: space-around;
    gap: 16px; 
}

.segment-2 .illustrations .image {
    width: 128px;
    height: 128px;
    padding: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882f6;
    border-radius: 16px;
}

.segment-2 .illustrations .subtext {
    text-align: center;
    padding: 8px;
    color: grey;
}

/* Segment-3 Styling */
.segment-3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 200;
    padding: 288px;
    padding-top: 128px;
    padding-bottom: 128px;
    gap: 32px;
}

.segment-3 .person {
    text-align: right;
    font-style: normal;
    font-weight: 700;
}

/* Segment-4 styling */

.segment-4 {
    background-color: #f9faf8;
    padding: 128px;
}

.segment-4 .container {
    display: flex;
    background-color: #3882f6;
    justify-content: space-between;
    padding: 128px;
    padding-top: 64px;
    padding-bottom: 64px;
    border-radius: 16px;
}

.segment-4 .container .sub-container {
    color: #f9faf8;
}

.segment-4 .container .sub-container .action{
    font-size: larger;
    font-weight: bolder;
}

.segment-4 .container button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 128px;
    height: 32px;
    border-radius: 8px;
    border-color: #f9faf8;
    font-size: large;
    border-style: solid;
}